#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  apache2-app.service
BindsTo=lamp.service
After=lamp.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/password.env
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/discovery.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/apache2-app.pid %t/apache2-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPre=-runagent discover-ldap
ExecStartPre=/bin/mkdir -vp initdb.d crontabs
ExecStart=/usr/bin/podman run --conmon-pidfile %t/apache2-app.pid \
    --cidfile %t/apache2-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/lamp.pod-id --replace -d --name  apache2-app \
    --volume mysql:/var/lib/mysql:Z \
    --volume app:/app:Z \
    --volume ./initdb.d:/initdb.d:Z \
    --volume ./conf.d/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:Z \
    --volume ./conf.d/mysqldump.cnf:/etc/mysql/conf.d/mysqldump.cnf:Z \
    --volume ./crontabs:/var/spool/cron/crontabs:Z \
    --env SMTP_* \
    --env LAMP_* \
    --env CREATE_MYSQL_USER=${CREATE_MYSQL_USER} \
    --env MYSQL_USER_NAME=${MYSQL_USER_NAME} \
    --env MYSQL_USER_DB=${MYSQL_USER_DB} \
    --env MYSQL_USER_PASS=${MYSQL_USER_PASS} \
    --env MYSQL_ADMIN_PASS=${MYSQL_ADMIN_PASS} \
    --env PHP_POST_MAX_SIZE=${PHP_UPLOAD_MAX_FILESIZE} \
    --env PHP_UPLOAD_MAX_FILESIZE=${PHP_UPLOAD_MAX_FILESIZE} \
    --env PHP_MEMORY_LIMIT=${PHP_MEMORY_LIMIT} \
    --env PHPMYADMIN_ENABLED=${PHPMYADMIN_ENABLED} \
    ${LAMP_SERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/apache2-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP apache2-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/apache2-app.ctr-id
PIDFile=%t/apache2-app.pid
Type=forking

[Install]
WantedBy=default.target
